.section {
  @apply relative text-black bg-custom_blue z-0;
}

.sectionImageTexteBackground {
  @apply relative py-10 xl:py-20 px-0 before:absolute before:start-0 before:bottom-0 before:bg-no-repeat before:bg-cover before:h-[35%] before:md:h-full before:w-full before:md:w-1/2 before:-z-[1] after:absolute after:end-0 after:top-0 after:h-[65%] after:md:h-full after:w-full after:md:w-[72%] after:lg:w-[62%] after:xl:w-[59%] after:-z-[1] after:bg-custom_blue;

  &:before {
    background-image: url("../../images/bg.webp");
  }
}

.image-texte {
  @apply flex flex-col md:flex-row-reverse items-center justify-center ms-auto gap-20 lg:w-[94%] xl:w-[84%];

  &__image {
    @apply flex-1 opacity-0;

    img {
      @apply min-h-[708px] sm:min-h-0 lg:min-h-[708px];
    }
  }

  &__content {
    @apply flex-1;

    &__sub-title {
      @apply text-white text-base font-normal leading-6 uppercase md:text-xl md:font-semibold md:tracking-[2px];

      span {
        @apply opacity-0;
      }
    }

    &__title {
      @apply font-poppins leading-[55px] text-white text-[1.75rem] md:text-4xl xl:text-5xl xl:max-w-[25rem] 2xl:text-6xl md:mt-3 font-normal uppercase mt-3 opacity-0;
    }

    &__description {
      @apply text-white text-lg font-light leading-[1.68] mt-5 md:mt-7 opacity-0 xl:max-w-[26.25rem];
    }

    &__link {
      @apply mt-6 md:mt-11 opacity-0;

      a {
        @apply inline-flex items-center py-1 border border-solid border-white ps-6 pe-1 gap-3 transition-all duration-300 text-white text-base font-semibold rounded-[100px] hover:border-transparent;

        &:hover svg {
          @apply translate-x-1;
        }

        svg {
          @apply transition-transform duration-300;
        }
      }
    }
  }
}
